*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
}

.contenedor{
    height: 300%;
    width: 100%;
    background-color: cadetblue; 
    position: absolute;
}

.Arriba{
    height: 100px;
    width: 90%;
    background-color: #4c7e80;
    margin-top: 15px;
    margin-left: 60px;
    position: absolute;
    border: 2px black dashed;
}

.cajaCuadros{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
}

.menu ul{ /*estilo menu lista no ordenada*/
    margin-top: 10px;
    margin: 0; /* margen*/
    list-style: none;/*estilo de lista*/
    padding: 0; /*espacio de relleno*/
    display: flex; /*estilo menu lista no ordenada*/
   
}
.menu li:hover{ /*accion en el menu li*/
    cursor: pointer; /*cursor encima*/
    background:darkslategray; /*opacidad*/
    
}
.menu li{ /*estilo de los li */
    margin-top: 20px;
    font-size: 20px; /*tamaño de la letra*/
    font-family: 'Indie Flower', cursive;/*estilo de fuente*/
    text-align: center; /*texto alineado al centro*/
    flex-grow: 1;/* espaciado*/
}
.menu li a{
    display: block; /*indica que usaremos todoel ancho disponible */
    padding: 15px 25px; /*relleno hacia arriba y hacia la derecha*/
    color: aliceblue;/*color de la letra*/
    text-decoration: none; /*no decoracion en las letras*/
    
}

.menu li ul{
	display: none;
	position: absolute;
	width: 412px;
	background: chocolate;
}

.menu li:hover > ul{
    background-color: cadetblue;
    display: block;
}

.imgAndroid{
    height: 35%;
    width: 25%;
    float: left;
}

.primeraImg{
    margin-top: 220px;
    height: 43%;
    width: 100%;
}

.text1{
    margin-top: -499px;
    height: 15%;
    width: 65%;
    margin-left: 400px;
    background-color: #4c7e80;
    float: right;
    border-radius: 10px;
}

.explicacion{
    color: white;
    font-family: garamond;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
}

.cuadroLogin{
    height: 25%;
    width: 30%;
    float: right;  
    margin-top: -50px;
}
}

.Conver{
    height: 100%;
    width: 100%;
}

.infoConver{
    margin-top: -50px;
    height: 25%;
    width: 65%;
    margin-left: 5px;
    background-color: #4c7e80;
    float: left;
    border-radius: 10px;
}


.textConver{
    color: white;
    font-family: garamond;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
}

.textConver2{
     color: white;
    font-family: garamond;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.textLogin2{
    color: white;
    font-family: garamond;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.Prototipo{
    height: 20%;
    width: 40%;
    float: left;  
    margin-top: 130px;
}

.imgPrototipo{
     height: 100%;
    width: 100%;
    border-radius: 10px;
}

.infoProto{
    margin-top: 130px;
    height: 20%;
    width: 55%;
    margin-left: 5px;
    background-color: #4c7e80;
    float: right;
    border-radius: 10px;
}

.textProto{
     color: white;
    font-family: garamond;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
}

.textProto2{
     color: white;
    font-family: gramond;
    font-size: 25px;
    margin-top: 17px;
    margin-left: 10px;
}

.contactos{
    margin-top: 1800px;
    width: 97%;
    height: 200px;
    background-color: #4c7e80;
    border: 2px black dashed;
    margin-left: 15px;
    position: absolute;
}

.textContactos{
   color: white;
    font-family: garamond;
    font-size: 25px;
    margin-left: 50%;
}  

.insta{
    height: 150px;
    width: 150px;
    margin-left: 70px;
}

.imgInsta{
    height: 150px;
    width: 150px;
}

.facebook{
    height: 150px;
    width: 150px;
    margin-left: 600px;
    margin-top: -150px;
}
 
.imgFace{
    height: 150px;
    width: 150px;
}

.Whats{
    height: 150px;
    width: 150px;
    margin-left: 1000px;
    margin-top: -150px;
}


.imgWhats{
   height: 100px;
    width: 100px;  
}

.Num{
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border: black 2px dashed;
}

.number{
    color: white;
    font-family: garamond;
    font-size: 25px;
    margin-left: 15px;
}